@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
   background-color: rgba(35, 40, 53, 0.815);
}

a#txt {
    text-decoration: none;
    color: rgb(33, 33, 34);
    width: 1000px;
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 30px;
    font-family: 'Nanum Pen Script', cursive;
    font-weight: lighter;
}